.quickNote {
  background-color: #fcfff1;
  color: #6e6e6e !important;
  border: 1px solid rgba(0,0,0, .125);
  border-radius: 8px;
  font-size: 14px;
}

.loTitle {
  color: #788d2b;
  font-weight: 600;
  border: none;
}

/* H5P Objects */
.hp-joubelui-button {
  background-color: #CBE068;
  color: #555555;
  border-radius: 0px;
  border: 1px solid #9EB441;
}
