.quickNote {
  background-color: #fcfff1;
  color: #6e6e6e !important;
  border: 1px solid rgba(0,0,0, .125);
  border-radius: 8px;
  font-size: 14px;
}

.loTitle {
  color: #788d2b;
  font-weight: 600;
  border: none;
}

.nav-link {
  color: #A71B25;
  min-width: 51px;
}

.nav-pills .nav-link.active {
  background-color: #CBE068;
  color: #555555;
  border: 1px solid #9EB441;
}
