.quickNote {
  background-color: #fcfff1;
  color: #6e6e6e !important;
  border: 1px solid rgba(0,0,0, .125);
  border-radius: 8px;
  font-size: 14px;
}

.loTitle {
  color: #788d2b;
  font-weight: 600;
  border: none;
}

.nav-link {
  color: #A71B25;
  min-width: 85px;
}

.nav-pills .nav-link.active {
  background-color: #CBE068;
  color: #555555;
  border: 1px solid #9EB441;
}

.tab-content {
  min-height: 190px;
}

.intro {
  background: url("https://schoolkeep-production.s3.amazonaws.com/wysiwyg/603590e4-5311-487c-9bc0-87379924112d/20220502230314_bobbi-bg-01.png");
  background-size: contain;
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;
}

.gn-intro {
  background: url("https://schoolkeep-production.s3.amazonaws.com/wysiwyg/603590e4-5311-487c-9bc0-87379924112d/20220518034958_banner.png");
  background-size: contain;
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;
}

.db-intro {
  background: url("https://schoolkeep-production.s3.amazonaws.com/wysiwyg/603590e4-5311-487c-9bc0-87379924112d/20220518225637_db-banner.png");
  background-size: contain;
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;
}

.forms-intro {
  background: url("https://schoolkeep-production.s3.amazonaws.com/wysiwyg/603590e4-5311-487c-9bc0-87379924112d/20220519181901_forms-banner.png");
  background-size: contain;
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;  
}

.users-intro {
  background: url("https://schoolkeep-production.s3.amazonaws.com/wysiwyg/603590e4-5311-487c-9bc0-87379924112d/20220519213550_users-banner.png");
  background-size: contain;
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;    
}

.introText {
  background-color: rgba(255,255,255,.9);
  box-shadow: 0 0 25px rgb(255 255 255 / .8);
}



.lo { 
  margin: 0 auto;
  background-color: rgba(255,255,255, .8);
}

.loIcon {
  height: 78px;
}

.kadinceBtn {
  border-radius: 3px;
  background-color: #CBE068;
  border: 1px solid #788D2B;
  padding: 10px;
  color: #555;
}
