.quickNote {
  background-color: #f2f2f2;
  color: #6e6e6e !important;
  border-top: 1px solid rgba(0,0,0, .125);
  border-bottom: 1px solid rgba(0,0,0, .125);
  font-size: 14px;
}

.loTitle {
  color: #788d2b;
  font-weight: 600;
  border: none;
}
